<!DOCTYPE html>
html(lang="ja")
    head
        include layout/head

    body
        .container
            include layout/header

            section.mb-4.mt-5
                .row
                    .col.col-lg-10
                        .card.card-cascade.mt-5
                            .view.view-cascade.overlay
                                img.card-img-top(src="/public/development/images/sample/image.jpg" height="100%" width="100%")
                                a(href="")
                                    .mask.rgba-white-slight
                            .card-body.card-body-cascade.text-center
                                h4.card-title.mt-2
                                    strong Mao Tsunoda
                                h6.font-weight-bold.indigo-text.py-2 Mobile shop clerk
                                i.fas.fa-birthday-cake.pr-2
                                    span.card-text 1998/05/19

                                p.card-text.mt-2 Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi sunt, quod quibusdam.
                                a(href="#!")
                                    i.fab.fa-github.fa-2x
                                a(href="#!").mx-4
                                    i.fab.fa-gitlab.fa-2x
                                a(href="#!")
                                    i.fab.fa-twitter.fa-2x

            section.mb-4
                h2.h1-responsive.font-weight-bold.text-center.my-5 works

                .card.card-image.wow.slideInLeft(style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg")
                    .text-white.text-center.d-flex.align-items-center.rgba-black-strong
                        div
                            i.fab.fa-connectdevelop.pt-4.pr-2
                                span.pink-text Skelton
                            h3.card-title.pt-2
                                strong This is the card title
                            p.px-4.py-3   主にJavaScriptを用いてブラウザで遊べるゲームを作って遊んでおります。
                            p.pb-4
                                a.btn.btn-pink(href="#!") 作品集を覗く
            section.mb-4
                h2.h1-responsive.font-weight-bold.text-center.my-5 language
                .row
                    .col.text-center.mt-5
            section.mb-4
                h2.h1-responsive.font-weight-bold.text-center.my-5 Be aware
                .row
                    .col
                        .card.mb-5.wow.fadeInUp
                            img.card-img-top(src="/public/development/images/sample/image.jpg")
                            .card-body
                                h4.card-title
                                    a Card Title
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card' content.
                        .card.mb-5.wow.fadeInUp
                            img.card-img-top(src="/public/development/images/sample/image.jpg")
                            .card-body
                                h4.card-title
                                    a Card Title
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card' content.
                        .card.mb-5.wow.fadeInUp
                            img.card-img-top(src="/public/development/images/sample/image.jpg")
                            .card-body
                                h4.card-title
                                    a Card Title
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card' content.
                        .card.mb-5.wow.fadeInUp
                            img.card-img-top(src="/public/development/images/sample/image.jpg")
                            .card-body
                                h4.card-title
                                    a Card Title
                                p.card-text Some quick example text to build on the card title and make up the bulk of the card' content.

            //- form
            section.mb-4
                h2.h1-responsive.font-weight-bold.text-center.my-5 Contact us
                p.text-center.w-responsive.mx-auto.mb-2 ご用の方は下記のフォームからご連絡下さい
                .row
                    .col-md-9.mb-md-0.mb-5
                        form#contact-form.needs-validation( name="contact-form" action=""  novalidate)
                            .row
                                .col-md-6
                                    .md-form.mb-0
                                        input#validationCustom01.form-control(type="text" name="name" required)
                                        label(for="name") Your name
                                        .valid-feedback Looks good!
                                .col-md-6
                                    .md-form.mb-0
                                        input#validationCustom01.form-control(type="text" name="email" required)
                                        label(for="email") Your email
                                        .valid-feedback Looks good!
                            .row
                                .col-md-12
                                    .md-form.mb-0
                                        input#validationCustom01.form-control(type="text" name="subject" required)
                                        label(for="subject") Subject
                                        .valid-feedback Looks good!
                            .row
                                .col-md-12
                                    .md-form
                                        textarea#validationCustom01.form-control.md-textarea(type="text" name="message" rows="4" required)
                                        level(for="message") Your message
                                        .valid-feedback Looks good!
                                .col-md-12.center-text.mt-3
                                    button.btn.btn-info.btn-block(type="submit") Send Me
            #loading
                .spinner-border(role="status")
                    span.sr-only Loading...


        include layout/footer
        include layout/script-download
