<!DOCTYPE html>
html(lang="ja")
    head
        include layout/head

    body
        .container
            include layout/header


        #loading
                .spinner-border(role="status")
                    span.sr-only Loading...


        include layout/footer
        include layout/script-download
