<!DOCTYPE html>
html(lang="ja")
    head
        include layout/head

    body
        .container
            include layout/wksheader
            section.my-5
                h1.font-weight-bold.mt-5.pt-5.pb-3.text-center.heading Workshop
                p.px-2.text-reset こちらでは私が過去に作った成果物を載せております。宜しければ遊んでみてください。
            section
                .row
                    .col
                        a(href="#!")
                            .card.mb-5.mt-3.wow.fadeInUp
                                img.card-img-top(src="/public/development/images/sample/image.jpg")
                                .card-body
                                    h4.py-2.card-title.text-center Card Title
                                    p.card-text Some quick example text to build on the card title and make up the bulk of the card' content.
                        a(href="#!")
                            .card.mb-5.mt-3.wow.fadeInUp
                                img.card-img-top(src="/public/development/images/sample/image.jpg")
                                .card-body
                                    h4.py-2.card-title.text-center Card Title
                                    p.card-text Some quick example text to build on the card title and make up the bulk of the card' content.
                        a(href="#!")
                            .card.mb-5.mt-3.wow.fadeInUp
                                img.card-img-top(src="/public/development/images/sample/image.jpg")
                                .card-body
                                    h4.py-2.card-title.text-center Card Title
                                    p.card-text Some quick example text to build on the card title and make up the bulk of the card' content.
                        a(href="#!")
                            .card.mb-5.mt-3.wow.fadeInUp
                                img.card-img-top(src="/public/development/images/sample/image.jpg")
                                .card-body
                                    h4.py-2.card-title.text-center Card Title
                                    p.card-text Some quick example text to build on the card title and make up the bulk of the card' content.

            section.my-5
                .row
                    .col
                        nav(aria-label="Page navigation example")
                            ul.pagination.pg-blue.justify-content-center
                                li.page-item.disabled
                                    a.page-link(tabindex="-1") Previous
                                li.page-item.active
                                    a.page-link 1
                                        span.sr-only (current)
                                li.page-item
                                    a.page-link 2
                                li.page-item
                                    a.page-link 3
                                li.page-item
                                    a.page-link Next

        #loading
                .spinner-border(role="status")
                    span.sr-only Loading...


        include layout/footer
        include layout/script-download
