footer.page-footer.font-small.teal.pt-4
    .container-fluid.text-center.text-md-left
        .row
            .col-md-6.mt-md-0.mt-3
                h5.text-uppercase.font-weight-bold 最後に
                p.mt-3 ここまで目を通していただきありがとうございます。
            hr.clearfix.w-100.d-md-none.pb-3
    .footer-copyright.text-center.py-3 © 2020 Copyright:
        a(href="#!") MDBootstrap.com
