title pageTitle
meta(charset="UTF-8")
//- 呼び出そうとしたら出てこないのであとで
//- link(type="stylesheet" href="/public/development/third_party/@fortawesome/css/all.css")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="/public/development/third_party/mdbootstrap/css/bootstrap.min.css")
link(rel="stylesheet" href="/public/development/third_party/mdbootstrap/css/mdb.min.css")
link(rel="stylesheet" href="/public/development/stylesheets/sample.css")
