nav.fixed-top.navbar.navbar-light.white.lighten-4.mb-5

    a.navbar-brand(href="#") Portfolio
    button.navbar-toggler.toggler-example.darken-3(type="button" data-toggle="collapse" data-target="#navbarSupportedContent41" aria-controls="navbarSupportedContent41" aria-expanded="false" aria-label="Toggle navigation")
        span.navbar-toggler-icon.white
    #navbarSupportedContent41.collapse.navbar-collapse
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href="#") Home
                    span.sr-only (current)
            li.nav-item
                a.nav-link(href="#") Features
            li.nav-item
                a.nav-link(href="#") Pricing
