script(type="text/javascript", src="/public/development/third_party/jquery/jquery.js")
script(type="text/javascript"  src="/public/development/third_party/mdbootstrap/js/popper.min.js")
script(type="text/javascript"  src="/public/development/third_party/mdbootstrap/js/bootstrap.min.js")
script(type="text/javascript"  src="/public/development/third_party/mdbootstrap/js/mdb.min.js")
script(type="text/javascript"  src="/public/development/javascripts/sample/sample.js")
